.message {
    
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-top: 100vh;
    & p {
        max-width: 50vw;
        text-align: center;
        margin-bottom: 30px;
    }
}
.messageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}