.carousel {
    background: white;
    height: 100svh;
    color: #181818;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 60px;
    box-sizing: border-box;
}
.carouselBox {
    position: absolute;
    display: flex;
    width: max-content;
    padding: 0 80px;
    box-sizing: border-box;
    height: 70%;
}
.carouselItem {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    position: relative;
    height: 100%;
    background: rgb(235 252 217);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    &:not(:last-child) {
        margin-right: 48px;
    }
}
.title {
    font-size: 112px;
    font-weight: bold;
}
.image {
width: 50%;
height: 100%;
background-size: cover;
background-position: center;
}

.leftPart {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.paragraph {
    font-size: 32px;

    font-weight: bold;
}
.description {
    font-size: 16px;

}
.blackButton {
    background: #181818;
    color: white;
}
.test {
    color: black;
    font-size: 48px;
}

// Increment stats section

.incrementStats {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    position: absolute;
    right: -100vw;
    top: 0;
    & .box {
        display: flex;
        justify-content: space-between;
        width: 70%;
        transform: translateY(100vh);
        & .statBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            & h3 {
                font-size: 320px;
                font-weight: bold;
                margin-block-start: 0;
                margin-block-end: 0;
            }
            & p {
                font-size: 32px;
                font-weight: 500;
            }
            & div {
                height: 10px;
                background: #181818;
                width: 100%;
                margin-top: -50px;
                margin-bottom: 20px;
            }
        }
    }
}